<head>
    <script src="../public/js/p5.min.js"></script>
    <script src="../public/js/p5.dom.min.js"></script>

    <link rel="stylesheet" href="../public/css/contact.css" />



    <meta charset="utf-8">
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />
    <title>Jake Armendariz - Contact</title>

</head>

<body>
    <div class="navbar">
        <a href="index.html">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="Projects.html">
            <li>Projects</li>
        </a>
        <a href="gallery.html">
            <li>Photo Gallery</li>
        </a>
        <a href="Contact.html">
            <li>Contact</li>
        </a>
    </div>

    <div class="who">
        <h3>About Me</h3><i>I want to create software that will make people's live's better.</i>

    </div>

    <section class="grid-1">
        <div class="item-1">
            <h3>Daily Life</h3>
            <p>I am a computer science student at UC Santa Cruz working part-time at Jamba Juice. I enjoy
                backpacking around California, lifting weights and watching South Park.
            </p>

        </div>
        <div class="item-2">
            <h3>Current Projects</h3>
            <p>This summer I am interning at Seastead Digital where I'm working on early product testing and
                development. I am also developing this site, my Linear Algebra Tutor and taking
                Discrete Math at UCSC.
            </p>
        </div>
    </section>

    <h3 style="color: whitesmoke; z-index: 100000;   text-align:center; margin-top:-5vh;">
        My
        Story</h3><br><br><br>
    <p style="color: whitesmoke; z-index: -1;   float:center; margin-top:-5vh; text-align: center;
                            margin-left: auto;
                            margin-right: auto; text-align:center;">
        <span class="me">
            I grew
            up in San Jose California with a peak interest in math and science growing up I wasn't
            exposed
            to
            Computer Science until recently. I've fallen in love with creating and building in the past
            two
            years.
        </span>
    </p>


    <section class="grid-2">
        <div class="item-3">

            <p class="b"><img src="../public/photos/profilePicture.jpeg"
                    class="prof">(408)824-8226<br>jakearmendariz99@gmail.com</p>
        </div>
        <div class="item-4">
            <div class="con">
                <h3 class="a">Contact Me</h3>
                If you have any comments, project ideas or would just like to chat.<br>
            </div>
            <p>
                <form method="post" action="send">

                    <input type="text" placeHolder="Your Name" class="name" name="name"><br>

                    <input type="text" class="email" placeHolder="Your Email" name="email">
                    <br>

                    <textarea class="message" placeHolder="Your Message" rows="10" cols="121" name="message"></textarea>
                    <br>
                    <button type="submit" class="send" onClick=notice()>Send</button>
                </form>
            </p>
        </div>


    </section>

    <footer>

        <img src="../public/images/icon.jpg" class="icon" />

        <a href=" https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                class="app"></a>
        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                class="app"></a>

        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../public/images/linkedin.png"
                class="app"></a>
        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../public/images/spotify.png" class="app"></a>
    </footer>
</body>