<html>

<head>


    <link rel="stylesheet" href="../public/css/projects.css" />
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />
    <title>Jake Armendariz- Projects</title>
</head>

<body>
    <div class="navbar">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="projects">
            <li>Projects</li>
        </a>
        <a href="contact">
            <li>Contact</li>
        </a>
    </div>
    <h4 class="Blank1"></h4>
    <h2 class="projectHead">
        Games
    </h2>
    <div class="projects">
        <div class="proj1">
            <a href="games/light.html" id='project'>
                <img src="../public/images/LightSpeedCover.png" />
            </a>
            <p>
                <h3 style="margin:0vmax; margin-top:.5vmax;">
                    LightSpeed<br>
                </h3>
                <span class="des">
                    Lightspeed is fairly similar to Asteroid. I began and finished the
                    game in July 2018. To play use the arrow keys to move rocket across
                    screen avoiding asteroids, planets and suns. Users can shoot laser
                    bullets at objects, gray objects (asteroids) are one bullet, blue
                    (planets) take two hits and yellow (suns) take three hits.</span>
            </p>
        </div>
        <div class="proj2">
            <a href="games/flappy.html" id='project'><img src="../public/images/FlappyPlane.png"></a>
            <p>
                <h3 style="margin:0vmax; margin-top:.5vmax;">
                    Flappy Plane<br>
                </h3><span class="des">
                    Flappy Plane is just flappy bird with a plane, it is not original. Rather, it was my first attempt
                    to use my 'library'. I ended up having to tweek a little too much of the original program. So now I
                    know to focus more time on library construction and reliablity before using it for other
                    games.</span>
            </p>
        </div>
        <div class="proj3">
            <a href="games/snakers.html" id='project'>
                <img src="../public/images/Snakers.png" />
            </a>
            <p>
                <h3 style="margin:0vmax; margin-top:.5vmax;">
                    Snakers<br>
                </h3>
                <span class="des">
                    Snakers. It is the first game I created in June 2018, it's really just
                    the game snake with three levels of difficulty. Each level increases
                    the speed of the game along with adding other ways to die. I think I
                    will beef this one up a little more this summer so that it is not just
                    a copy of the original game.</span>
            </p>
        </div>
        <div class="proj4">
            <a href="games/basic.html" id='project'>
                <img src="../public/images/basic.png" />
            </a>
            <p>
                <h3 style="margin:0vmax; margin-top:.5vmax;">
                    Game Library<br>
                </h3>
                <span class="des">
                    I created this basic 'game' in early 2019 in order to create a basic library for myself to use when
                    creating other games. I programmed basic collisions, gravity and keyboard interactivity in hopes of
                    using it to build games in the future.
                </span>
            </p>
        </div>






        <footer>
            <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                    class="app"></a>
            <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                    class="app"></a>
            <img src="../public/images/icon.jpg" class="icon" />
            <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img
                    src="../public/images/linkedin.png" class="app"></a>
            <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                    src="../public/images/spotify.png" class="app"></a>
        </footer>
    </div>
</body>

</html>