<html>

<head>
    <title>Jake Armendariz - Gallery</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/gallery.css" />
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />

</head>

<body>
    <div class="navbar">
        <a href="index.html">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="Projects.html">
            <li>Projects</li>
        </a>
        <a href="gallery.html">
            <li>Photo Gallery</li>
        </a>
        <a href=" Contact.html">
            <li>Contact</li>
        </a>
    </div>
    <h4 class="Blank1"></h4>

    <h3>Photo Gallery</h3>
    <section class="gridA">
        <div class="item-1">
            <p>Get to know me through a collection of my photos from the last year. </p>
        </div>
        <div class="item-2">
            <a href="gallery.html">
                <li style="float:left">All</li>
            </a>
            <li></li>
            <li></li> <a href="gallery-people.html">
                <li style="float:center">People</li>
            </a>
            <li></li>
            <li></li>
            <a href="gallery-nature.html">
                <li>Nature</li>
            </a>
        </div>

    </section>




    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="../public/photos/Berkely.jpg" style="width:100%" onclick="openModal();currentSlide(1)" />
            <img src="../public/photos/fiveguys.jpg" style="width:100%" onclick="openModal();currentSlide(2)" />
            <img src="../public/mybackgrounds/1.jpg" style="width:100%" onclick="openModal();currentSlide(3)" />
            <img src="../public/photos/bigfamily.jpg" style="width:100%" onclick="openModal();currentSlide(4)" />
            <img src="../public/photos/day2.jpg" style="width:100%" onclick="openModal();currentSlide(5)" />
            <img src="../public/mybackgrounds/4.jpg" style="width:100%" onclick="openModal();currentSlide(6)" />
            <img src="../public/photos/Rishik.jpg" style="width:100%" onclick="openModal();currentSlide(7)" />
            <img src="../public/photos/cove.jpg" style="width:100%" onclick="openModal();currentSlide(8)" />
            <img src="../public/mybackgrounds/9.jpg" style="width:100%" onclick="openModal();currentSlide(9)" />
            <img src="../public/photos/cave.jpg" style="width:100%" onclick="openModal();currentSlide(10)" />
            <img src="../public/mybackgrounds/13.jpg" style="width:100%" onclick="openModal();currentSlide(11)" />
            <img src="../public/mybackgrounds/inmeadow.jpg" style="width:100%" onclick="openModal();currentSlide(12)" />
        </div>
        <div class="column">
            <img src="../public/photos/christmas.jpg" style="width:100%" onclick="openModal();currentSlide(13)" />
            <img src="../public/mybackgrounds/2.jpg" style="width:100%" onclick="openModal();currentSlide(14)" />
            <img src="../public/photos/bday.jpg" style="width:100%" onclick="openModal();currentSlide(15)" />
            <img src="../public/mybackgrounds/17.jpg" style="width:100%" onclick="openModal();currentSlide(16)" />
            <img src="../public/photos/squat.png" style="width:100%" onclick="openModal();currentSlide(17)" />
            <img src="../public/mybackgrounds/7.jpg" style="width:100%" onclick="openModal();currentSlide(18)" />
            <img src="../public/photos/rav.jpg" style="width:100%" onclick="openModal();currentSlide(19)" />
            <img src="../public/photos/sunsetRyan.jpg" style="width:100%" onclick="openModal();currentSlide(20)" />
            <img src="../public/mybackgrounds/24.jpg" style="width:100%" onclick="openModal();currentSlide(21)" />
            <img src="../public/photos/bridge.jpg" style="width:100%" onclick="openModal();currentSlide(22)" />
            <img src="../public/photos/maddie.jpg" style="width:100%" onclick="openModal();currentSlide(23)" />
            <img src="../public/mybackgrounds/15.jpg" style="width:100%" onclick="openModal();currentSlide(24)" />
            <img src="../public/mybackgrounds/16.jpg" style="width:100%" onclick="openModal();currentSlide(25)" />
        </div>
        <div class="column">
            <img src="../public/mybackgrounds/3.jpg" style="width:100%" onclick="openModal();currentSlide(26)" />
            <img src="../public/photos/scar.jpg" style="width:100%" onclick="openModal();currentSlide(27)" />
            <img src="../public/photos/Skyline.jpg" style="width:100%" onclick="openModal();currentSlide(28)" />
            <img src="../public/photos/Lunar.jpg" style="width:100%" onclick="openModal();currentSlide(29)" />
            <img src="../public/mybackgrounds/8.jpg" style="width:100%" onclick="openModal();currentSlide(30)" />
            <img src="../public/photos/solo.jpg" style="width:100%" onclick="openModal();currentSlide(31)" />
            <img src="../public/photos/hallow.jpg" style="width:100%" onclick="openModal();currentSlide(32)" />
            <img src="../public/mybackgrounds/10.jpg" style="width:100%" onclick="openModal();currentSlide(33)" />
            <img src="../public/mybackgrounds/5.jpg" style="width:100%" onclick="openModal();currentSlide(34)" />
            <img src="../public/photos/hallow.jpg" style="width:100%" onclick="openModal();currentSlide(35)" />
            <img src="../public/mybackgrounds/4.jpg" style="width:100%" onclick="openModal();currentSlide(36)" />
            <img src="../public/photos/logan.jpg" style="width:100%" onclick="openModal();currentSlide(37)" />
        </div>
        <div class="column">
            <img src="../public/photos/Group.jpg" style="width:100%" onclick="openModal();currentSlide(38)" />
            <img src="../public/photos/day3.jpg" style="width:100%" onclick="openModal();currentSlide(39)" />
            <img src="../public/photos/tripSitting.jpg" style="width:100%" onclick="openModal();currentSlide(40)" />
            <img src="../public/photos/sunrise.jpg" style="width:100%" onclick="openModal();currentSlide(41)" />
            <img src="../public/photos/mom.jpg" style="width:100%" onclick="openModal();currentSlide(42)" />
            <img src="../public/photos/cove2.jpg" style="width:100%" onclick="openModal();currentSlide(43)" />
            <img src="../public/mybackgrounds/6.jpg" style="width:100%" onclick="openModal();currentSlide(44)" />
            <img src="../public/photos/danielle.jpg" style="width:100%" onclick="openModal();currentSlide(45)" />
            <img src="../public/photos/sf.jpg" style="width:100%" onclick="openModal();currentSlide(46)" />
            <img src="../public/mybackgrounds/12.jpg" style="width:100%" onclick="openModal();currentSlide(47)" />
            <img src="../public/mybackgrounds/14.jpg" style="width:100%" onclick="openModal();currentSlide(48)" />
            <img src="../public/mybackgrounds/cowrocks.jpg" style="width:100%" onclick="openModal();currentSlide(49)" />
            <img src="../public/mybackgrounds/greenred.jpg" style="width:100%" onclick="openModal();currentSlide(50)" />
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="mySlides">
                <img src="../public/photos/Berkely.jpg" style="height:100%" onclick="openModal();currentSlide(1)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/fiveguys.jpg" style="height:100%" onclick="openModal();currentSlide(2)" />
            </div>
            <div class=" mySlides">
                <img src="../public/mybackgrounds/1.jpg" style="height:100%" onclick="openModal();currentSlide(3)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/bigfamily.jpg" style="height:100%" onclick="openModal();currentSlide(4)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/day2.jpg" style="height:100%" onclick="openModal();currentSlide(5)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/4.jpg" style="height:100%" onclick="openModal();currentSlide(6)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/Rishik.jpg" style="height:100%" onclick="openModal();currentSlide(7)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/cove.jpg" style="height:100%" onclick="openModal();currentSlide(8)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/9.jpg" style="height:100%" onclick="openModal();currentSlide(9)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/cave.jpg" style="height:100%" onclick="openModal();currentSlide(10)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/13.jpg" style="height:100%" onclick="openModal();currentSlide(11)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/inmeadow.jpg" style="height:100%"
                    onclick="openModal();currentSlide(12)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/christmas.jpg" style="height:100%" onclick="openModal();currentSlide(13)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/2.jpg" style="height:100%" onclick="openModal();currentSlide(14)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/bday.jpg" style="height:100%" onclick="openModal();currentSlide(15)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/17.jpg" style="height:100%" onclick="openModal();currentSlide(16)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/squat.png" style="height:100%" onclick="openModal();currentSlide(17)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/7.jpg" style="height:100%" onclick="openModal();currentSlide(18)" />
            </div>

            <div class="mySlides">
                <img src="../public/photos/rav.jpg" style="height:100%" onclick="openModal();currentSlide(19)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/sunsetRyan.jpg" style="height:100%" onclick="openModal();currentSlide(20)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/24.jpg" style="height:100%" onclick="openModal();currentSlide(21)" />
            </div>

            <div class="mySlides">
                <img src="../public/photos/bridge.jpg" style="height:100%" onclick="openModal();currentSlide(22)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/maddie.jpg" style="height:100%" onclick="openModal();currentSlide(23)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/15.jpg" style="height:100%" onclick="openModal();currentSlide(24)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/16.jpg" style="height:100%" onclick="openModal();currentSlide(25)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/3.jpg" style="height:100%" onclick="openModal();currentSlide(26)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/scar.jpg" style="height:100%" onclick="openModal();currentSlide(27)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/Skyline.jpg" style="height:100%" onclick="openModal();currentSlide(28)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/Lunar.jpg" style="height:100%" onclick="openModal();currentSlide(29)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/8.jpg" style="height:100%" onclick="openModal();currentSlide(30)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/solo.jpg" style="height:100%" onclick="openModal();currentSlide(31)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/hallow.jpg" style="height:100%" onclick="openModal();currentSlide(32)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/10.jpg" style="height:100%" onclick="openModal();currentSlide(33)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/5.jpg" style="height:100%" onclick="openModal();currentSlide(34)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/hallow.jpg" style="height:100%" onclick="openModal();currentSlide(35)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/4.jpg" style="height:100%" onclick="openModal();currentSlide(36)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/logan.jpg" style="height:100%" onclick="openModal();currentSlide(37)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/inmeadow.jpg" style="height:100%"
                    onclick="openModal();currentSlide(12)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/Group.jpg" style="height:100%" onclick="openModal();currentSlide(38)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/day3.jpg" style="height:100%" onclick="openModal();currentSlide(39)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/tripSitting.jpg" style="height:100%"
                    onclick="openModal();currentSlide(40)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/sunrise.jpg" style="height:100%" onclick="openModal();currentSlide(41)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/mom.jpg" style="height:100%" onclick="openModal();currentSlide(42)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/cove2.jpg" style="height:100%" onclick="openModal();currentSlide(43)" />
            </div>

            <div class="mySlides">
                <img src="../public/mybackgrounds/6.jpg" style="height:100%" onclick="openModal();currentSlide(44)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/danielle.jpg" style="height:100%" onclick="openModal();currentSlide(45)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/sf.jpg" style="height:100%" onclick="openModal();currentSlide(46)" />
            </div>
            <div class=" mySlides">
                <img src="../public/mybackgrounds/12.jpg" style="height:100%" onclick="openModal();currentSlide(47)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/14.jpg" style="height:100%" onclick="openModal();currentSlide(48)" />
            </div>
            <div class=" mySlides">
                <img src="../public/mybackgrounds/cowrocks.jpg" style="height:100%"
                    onclick="openModal();currentSlide(49)" />
            </div>
            <div class="mySlides">
                <img src="../public/mybackgrounds/greenred.jpg" style="height:100%"
                    onclick="openModal();currentSlide(50)" />
            </div>

            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <footer>
        <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                class="app" /></a>

        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                class="app" /></a>
        <img src="../public/images/icon.jpg" class="icon" />
        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../public/images/linkedin.png"
                class="app" /></a>

        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../public/images/spotify.png" class="app" /></a>
    </footer>
    <script src="../public/js/Gallery.js"></script>
</body>

</html>