<html>

<head>
    <title>Jake Armendariz - Gallery</title>
    <link rel="stylesheet" href="../public/css/index.css" />
    <link rel="stylesheet" href="../public/css/TwoCol.css" />
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />

</head>

<body>
    <div class="navbar">
        <a href="index.html">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="Projects.html">
            <li>Projects</li>
        </a>
        <a href="gallery.html">
            <li>Photo Gallery</li>
        </a>
        <a href=" Contact.html">
            <li>Contact</li>
        </a>
    </div>
    <h4 class="Blank1"></h4>

    <h3>Photo Gallery</h3>
    <section class="gridA">
        <div class="item-1">
            <p>Get to know me through a collection of my photos of me and my friends. </p>
        </div>
        <div class="item-2">
            <a href="gallery.html">
                <li style="float:left">All</li>
            </a>
            <li></li>
            <li></li> <a href="gallery-people.html">
                <li style="float:center">People</li>
            </a>
            <li></li>
            <li></li>
            <a href="gallery-nature.html">
                <li>Nature</li>
            </a>
        </div>

    </section>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="../public/photos/fiveguys.jpg" style="width:100%" onclick="openModal();currentSlide(1)" />
            <img src="../public/photos/Rishik.jpg" style="width:100%" onclick="openModal();currentSlide(2)" />
            <img src="../public/photos/Skyline.jpg" style="width:100%" onclick="openModal();currentSlide(3)" />
            <img src="../public/photos/Lunar.jpg" style="width:100%" onclick="openModal();currentSlide(4)" />
            <img src="../public/photos/logan.jpg" style="width:100%" onclick="openModal();currentSlide(5)" />

        </div>
        <div class="column">
            <img src="../public/photos/maddie.jpg" style="width:100%" onclick="openModal();currentSlide(6)" />
            <img src="../public/photos/Group.jpg" style="width:100%" onclick="openModal();currentSlide(7)" />
            <img src="../public/photos/tripSitting.jpg" style="width:100%" onclick="openModal();currentSlide(8)" />
            <img src="../public/photos/sunrise.jpg" style="width:100%" onclick="openModal();currentSlide(9)" />
            <img src="../public/photos/mom.jpg" style="width:100%" onclick="openModal();currentSlide(10)" />
            <img src="../public/photos/danielle.jpg" style="width:100%" onclick="openModal();currentSlide(11)" />

        </div>

        <div class="column">

            <img src="../public/photos/scar.jpg" style="width:100%" onclick="openModal();currentSlide(12)" />
            <img src="../public/photos/hallow.jpg" style="width:100%" onclick="openModal();currentSlide(13)" />
            <img src="../public/photos/christmas.jpg" style="width:100%" onclick="openModal();currentSlide(14)" />
            <img src="../public/photos/sf.jpg" style="width:100%" onclick="openModal();currentSlide(15)" />
            <img src="../public/photos/bday.jpg" style="width:100%" onclick="openModal();currentSlide(16)" />
            <img src="../public/photos/bigfamily.jpg" style="width:100%" onclick="openModal();currentSlide(17)" />

        </div>

    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="mySlides">
                <img src="../public/photos/fiveguys.jpg" style="height:100%" onclick="openModal();currentSlide(1)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/Rishik.jpg" style="height:100%" onclick="openModal();currentSlide(2)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/Skyline.jpg" style="height:100%" onclick="openModal();currentSlide(3)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/Lunar.jpg" style="height:100%" onclick="openModal();currentSlide(4)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/logan.jpg" style="height:100%" onclick="openModal();currentSlide(5)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/maddie.jpg" style="height:100%" onclick="openModal();currentSlide(6)" />

            </div>
            <div class="mySlides">
                <img src="../public/photos/Group.jpg" style="height:100%" onclick="openModal();currentSlide(7)" />
            </div>
            <div class="mySlides">

                <img src="../public/photos/tripSitting.jpg" style="height:100%" onclick="openModal();currentSlide(8)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/sunrise.jpg" style="height:100%" onclick="openModal();currentSlide(9)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/mom.jpg" style="height:100%" onclick="openModal();currentSlide(10)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/danielle.jpg" style="height:100%" onclick="openModal();currentSlide(11)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/scar.jpg" style="height:100%" onclick="openModal();currentSlide(12)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/hallow.jpg" style="height:100%" onclick="openModal();currentSlide(13)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/christmas.jpg" style="height:100%" onclick="openModal();currentSlide(14)" />
            </div>
            <div class=" mySlides">
                <img src="../public/photos/sf.jpg" style="height:100%" onclick="openModal();currentSlide(15)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/bday.jpg" style="height:100%" onclick="openModal();currentSlide(16)" />
            </div>
            <div class="mySlides">
                <img src="../public/photos/bigfamily.jpg" style="height:100%" onclick="openModal();currentSlide(17)" />
            </div>

            <div class="caption-container">
                <p id="caption"></p>
            </div>
        </div>
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <footer>
        <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                class="app" /></a>

        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                class="app" /></a>
        <img src="../public/images/icon.jpg" class="icon" />
        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../public/images/linkedin.png"
                class="app" /></a>

        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../public/images/spotify.png" class="app" /></a>
    </footer>
    <script src="../public/js/Gallery.js"></script>
</body>

</html>