<html>

<head>


    <link rel="stylesheet" href="../public/css/projects.css" />
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />
    <title>Jake Armendariz- Projects</title>
</head>

<body>
    <div class="navbar">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="projects">
            <li>Projects</li>
        </a>

        <a href="contact">
            <li>Contact</li>
        </a>
    </div>
    <h4 class="Blank1"></h4>
    <h2 class="projectHead">
        Projects
    </h2>
    <hr align="left" style="border: 1px solid rgb(13, 71, 113); width:80%; margin-left:6vw;">
    <div class="projects">
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/Snake-AI">
                <h1>Snake AI</h1>
            </a>
            <p>The snake game, but an AI plays it. Built in Java-Processing using a slight modification of A* for
                pathfinding, a min-heap class
                for higher efficiency and ran on processing. If you'd like to see it in action, I created a youtube
                playlist displaying it, <a class="unedited"
                    href="https://www.youtube.com/playlist?list=PLVcWYEH7PtatEcQz-HGKhDgWaAYpX3EWT"
                    style="text-decoration: underline;">here</a>.</p>

        </div>
        <div class="grid-item">
            <a class="title" href=https://devpost.com/software/charity-cloud> <h1>Charity Cloud</h1>
            </a>
            <p>In the Santa Cruz 2020 hackathon I created a website called Charity Cloud. I worked the backend, using
                Flask (a micro web framework written in python) and mongoDB to create charities in our system, then
                display them on the site. Using my knowledge of HTML/CSS to render them dynamically. We are still
                working on hosting this website, but in the mean time you can check out the dev post <a class="unedited"
                    href="https://devpost.com/software/charity-cloud" style="text-decoration: underline;">here</a>.</p>
        </div>
        <div class="grid-item">
            <a class="title" href="https://github.com/jakearmendariz/A-simulation">
                <h1>A* Simulator</h1>
            </a>
            <p>A* made in Java-Processing. Finds the shortest path between two points on 2D grid, displays path,
                obstacles
                and vision. Has ability to add, erase obstacles,
                change map size, unit size, start and end point.</p>
        </div>
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/cse101/tree/master/ListADT">
                <h1>List ADT</h1>
            </a>
            <p>An ADT built in C that works as a doubly linked list with a cursor that can insert nodes, expandable to
                carry
                different information.
                Lex.c class intakes a series of lines and sorts them alphabetically using the List ADT.</p>
        </div>
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/cse101/tree/master/BigIntegerADT">
                <h1>Big Integer ADT</h1>
            </a>
            <p>An ADT using List.c to handle big integer operations in the form of thousands
                of digits in less than a few seconds. Intakes longs as input files of numbers, turns into List ADT of
                long integers of undefinded length, then can add, multiply, subtract and divide.</p>
        </div>
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/cse101/tree/master/MatrixADT">
                <h1>Matrix ADT</h1>
            </a>
            <p> Sparse Matrix Calculator: A complete ADT constructed of an array of linked lists that can be manipulated
                as a 2-D matrix, but with much higher efficiency. Can add, subtract, multiply and print Matrices of
                enormous size.</p>
        </div>
        <div class="grid-item">
            <a href="https://github.com/jakearmendariz/cse101/tree/master/Dijkstra">
                <h1>Dijkstra's Algorithm</h1>
            </a>
            <p>Preforms Dijkstra's algorithm on Lists of nodes and their edges. Utilizes List ADT to create graphs,
                search through them and find distance between nodes.</p>
        </div>

        <div class="grid-item">
            <a href="linearalgebratutor">
                <h1>Linear Algebra Tutor</h1>
            </a>
            <p>Built with Javscript, HTML, CSS. This is a simple, responsive problem solving and explaining tool. Not
                fully implemented dictionary, but ability to solve multiple linear algebra problems.</p>
        </div>
        <div class="grid-item">
            <a href="/games/lightspeed">
                <h1>LightSpeed</h1>
            </a>
            <p>A game I created before college. Written in javascript, you fly around as a rocket shooting asteroids, press space to shoot, use arrow keys to move around screen.</p>
        </div>
        <!--
        <div class="grid-item">
            <a href="games">
                <h1>Playable Games</h1>
            </a>
            <p>Here are 4 games I have created on p5.js, and are fully functionable and playable. Very simple, but can
                be quite fun.</p>
        </div>
        
        -->
        <div class="grid-item"></div>
        </div>



    </div>
    <footer>
        <a href="https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                class="app"></a>
        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                class="app"></a>
        <img src="../public/images/icon.jpg" class="icon" />
        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../public/images/linkedin.png"
                class="app"></a>
        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../public/images/spotify.png" class="app"></a>
    </footer>
    </div>
</body>

</html>