<head>


    <div class="but">
        <button onClick="showA()" id="b">
            See PDF
        </button>
    </div>
    <link rel="stylesheet" href="../public/css/Resume.css" />
    <meta charset="utf-8">
    <link rel="icon" type="x-icon" href="../public/images/icon2D.ico" />
    <title>Jake Armendariz - Contact</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>
<!--
    EDUCATION
Bachelor of Science in Computer Science, UC Santa Cruz                                                                                June 2022
3.7 GPA: Scholars Program
Courses in OOP, Data Structures, Linear Algebra, Vector Calculus, Discrete Math and Algorithms
Graduated from Leigh High School						          	  		        June 2018
Valedictorian of 400+ person class
Courses in Calculus, Computer Science, Chemistry, and Physics
WORK EXPERIENCE
Seastead Digital - Software Engineering Intern						       July 2019-Present
Implemented contact page, parts of the administration panel, and fixed bugs in PHP
	Utilizing GitHub to collaborate with a team of six engineers
	Headed black box testing and QA during the alpha and beta development of a small social platform
Jamba Juice - Shift Lead                                                                                           	            July 2017- Sept. 2019
Employee of the Month								          

RELEVANT PROJECTS		
Sparse Matrix Calculator										                2019
Programmed in C, a complete ADT constructed of an array of linked lists that can be manipulated as a 2-D matrix, but with much higher efficiency.  			
Online Projects, implemented in Javascript, HTML, CSS, and Node.js					   2019		Created Linear Algebra Tutor, a web application used by upwards of twenty students that can perform 
many Linear computations in javascript, along with a detailed guide on how to accomplish.	                
Designed, developed and launched my personal website.		    	 		               	   
Programmed a series of games with custom physics engines utilizing JS p5 library                               	
Uploaded to Github, implemented in Java
Created several math programs, demonstrating basic mathematical theories.	           	                 2019
Recursive pathfinder for a 2D array of characters							    2018

SKILLS
Programming Languages: C, Java
Experience with: HTML, CSS, Javascript, Node.js, PHP, Python
Tools: Unix, Github, Excel, Figma

-->

<body>


    <div class="navbar">
        <a href="index.html">
            <li>Home</li>
        </a>
        <a href="../public/ArmendarizResume.pdf" target="_blank">
            <li>Resume</li>
        </a>
        <a href="Projects.html">
            <li>Projects</li>
        </a>
        <a href="gallery.html">
            <li>Photo Gallery</li>
        </a>
        <a href="Contact.html">
            <li>Contact</li>
        </a>
    </div>
    <div class="resume">
        <h1>Jake Armendariz</h1>

        <p><strong>Education<br></strong><b>Bachelor of Science in Computer Science, UC Santa
                Cruz</b><br>&emsp;&emsp;3.7 GPA:
            Scholars
            Program<br>&emsp;&emsp;Courses in OOP, Data Structures, Linear Algebra, Vector Calculus, Discrete Math and
            Algorithms<br>
            <b>Graduated from Leigh High School</b><br>&emsp;&emsp;Valedictorian of 400+ person class
            <br>&emsp;&emsp;Courses in Calculus, Computer Science, Chemistry, and Physics
        </p>
        <p><strong>Work Experience<br></strong><b>Seastead Digital - Software Engineering
                Intern</b><br>&emsp;&emsp;Implemented contact page, parts of the administration panel, and fixed bugs in
            PHP<br>
            &emsp;&emsp;Utilizing GitHub to collaborate with a team of six engineers<br>
            &emsp;&emsp;Headed black box testing and QA during the alpha and beta development of a small
            social
            platform<br>
            <b>Jamba Juice - Shift Lead</b><br>&emsp;&emsp;Employee of the Month
        </p>

        <p><strong>Relavant Projects<br></strong><b>Sparse Matrix Calculator</b><br>&emsp;&emsp;Programmed in C, a
            complete ADT constructed of an array of linked lists that can be manipulated as a 2-D matrix, but with much
            higher efficiency.<br>
            &emsp;&emsp;Utilizing GitHub to collaborate with a team of six engineers<br>
            &emsp;&emsp;Headed black box testing and QA during the alpha and beta development of a small
            social
            platform<br>
            <b>Jamba Juice - Shift Lead</b><br>&emsp;&emsp;Employee of the Month
        </p>
    </div>
    <footer>

        <img src="../public/images/icon.jpg" class="icon" />

        <a href=" https://www.instagram.com/jake.armendariz/" target="_blank"><img src="../public/images/insta.png"
                class="app"></a>
        <a href="https://github.com/jakearmendariz" target="_blank"><img src="../public/images/github.png"
                class="app"></a>

        <a href="https://www.linkedin.com/in/jake-armendariz/" target="_blank"><img src="../public/images/linkedin.png"
                class="app"></a>
        <a href="https://open.spotify.com/user/svirl3jiigsae2f476alnlfgm" target="_blank"><img
                src="../public/images/spotify.png" class="app"></a>
    </footer>

</body>