@import url("https://fonts.googleapis.com/css?family=Overpass");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css?family=Average+Sans|Source+Sans+Pro&display=swap");

@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Average Sans", sans-serif;
  font-family: "Ubuntu";
  background-color: rgb(100, 100, 100);
  background-color: rgb(30, 30, 30);
  background: repeating-linear-gradient(
    -45deg,
    #222,
    #222 2px,
    #333 2px,
    #333 4px
  );
  background: rgb(30, 30, 30);
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0.1%;
  right: 3vw;
  list-style-type: none;
  color: white;
  font-size: 18px;
  display: flex;
  list-style: none;
  float: right;
  margin-right: 0vw;

  box-sizing: border-box;
  border-radius: 1vw;
  margin-top: 1px;
  background-color: rgb(25, 54, 67, 0.6);
  background-color: rgb(30, 30, 30, 0);
}

/**
This is for my navigation bar
*/
li {
  padding: 17px;
  padding-top: 10px;
  padding-bottom: 14px;
}

a:link {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: rgb(13, 71, 113);
}

a:active {
  text-decoration: none;
  color: whitesmoke;
}

form {
  padding: 0;
  margin: 0;
  margin-top: -2rem;
}

.navbar {
  background-color: rgb(30, 30, 30, 0);
  z-index: 1000;
}

.name {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Average Sans", sans-serif;
  text-indent: 7px;
  width: 80%;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  font-size: 17px;

  color: rgb(20, 20, 20);
  border: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(185, 185, 185);
  background: rgb(220, 220, 220);
  background: whitesmoke;
}

.email {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Average Sans", sans-serif;
  text-indent: 7px;
  width: 80%;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  font-size: 17px;
  color: rgb(20, 20, 20);
  border: 0px;
  margin-bottom: 10px;
  background-color: rgb(185, 185, 185);
  background: rgb(220, 220, 220);
  background: whitesmoke;
}

.prof {
  width: 100%;
}

.message {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Average Sans", sans-serif;
  text-indent: 7px;
  border: 0px;
  border-radius: 4px;
  margin: 10px;
  width: 80%;
  font-size: 17px;
  padding: 0;
  color: rgb(20, 20, 20);
  background-color: rgb(185, 185, 185);
  background: rgb(220, 220, 220);
  background: whitesmoke;
}

button {
  border-radius: 20px;
  background-color: rgb(150, 150, 150);
  background-color: rgb(13, 71, 113);
  background-color: orange;
  color: whitesmoke;

  padding: 1vmax 6vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 0;
}

button:active {
  background-color: rgb(150, 150, 150);
  box-shadow: 0 5px #666;
  transform: translate;
}

button:hover {
  background-color: rgb(13, 71, 113);
  transform: translateY(4px);
}

p {
  margin-top: 0.33vw;
  color: rgb(240, 240, 240);
  margin-left: 5vw;
  font-size: 1.5vmax;
  margin-right: 4vw;
  margin-bottom: 3vw;
  line-height: 2vmax;
  line-height: 120%;
  font-weight: 100;
  color: black;
}

p ::selection {
  color: rgb(202, 32, 32);
}

h3 {
  margin-top: 10vh;
  color: rgb(240, 240, 240);

  font-weight: 300;
  font-size: 1vmax;
  margin-left: 5vw;
  margin-bottom: 4vh;
  color: black;
}

h3 ::selection {
  color: rgb(100, 100, 100);
}

.grid-1 {
  grid-template-columns: 100% 0%;
  margin: 0;
}

.grid-2 {
  margin-top: -2.5rem;
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 0% 100%;
}

/* items */
.grid-1 div {
  /*color: white;*/
  height: 0%;
}

.grid-2 div {
  /*color: white;*/
  margin-top: -3rem;
  font-size: 1.2vmax;
}

/* specific item styles */

.item-1 {
  height: 100vh;
  width: 100%;
  text-align: left;
  background-color: rgb(30, 30, 30);
}
img {
  opacity: 0.5;
  min-height: 100%;
  max-width: 105%;
  object-fit: cover;
}

.item-1 p {
  margin: 0;
  width: 85%;
  position: absolute;
  text-align: center;
  transform: orgin(center);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 38px;
  font-family: "Ubuntu";
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  transform: orgin(center);
  transform: translate(0, -50);*/
  background-color: rgba(30, 30, 30, 0);
  border-radius: 15px;
}

.item-1 .ttle {
  width: 100%;
  position: absolute;
  text-align: center;
  transform: orgin(center);
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 45px;
  font-family: "Ubuntu";
  /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    transform: orgin(center);
    transform: translate(0, -50);*/
  background-color: rgba(30, 30, 30, 0);
  border-radius: 15px;
}

.item-1 button {
  position: absolute;
  top: 66%;
  left: 23%;
  font-family: "Ubuntu";
}
button {
  margin: 0;
  font-size: 22px;
}

.item-2 {
  width: 100%;
  text-align: left;
  background: whitesmoke;
}

.item-4 {
  margin-top: 0;
  padding-top: 2vh;
  width: 100%;
  text-align: center;
  background: rgb(200, 200, 200);
  background: rgb(13, 71, 113);
  font-size: 40px;
  color: orange;
}

p {
  font-size: 2vmax;
}

.a {
  color: rgb(13, 71, 113);
  color: whitesmoke;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

.con {
  margin: 0;
  margin-top: 10vmax;
  padding: 0;
  color: rgb(100, 100, 100);
  color: orange;
}

.con h3 {
  font-size: 75px;
  margin-bottom: 1vh;
  margin-top: 4vh;
  margin-left: none;
  margin-right: none;
  padding: none;
  text-align: center;
}

.emailme {
  float: center;
  margin-left: 19vw;
  margin-right: auto;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  left: 50%;
  text-align: center;
  border: none;
}

.emailme :hover {
  background-color: rgb(13, 71, 113, 0);
  border: 3px solid rgb(13, 71, 113);
}

.send {
  background: white;
  color: rgb(13, 71, 113);
  color: whitesmoke;
  background: orange;
  border: none;
}

.send:hover {
  color: whitesmoke;
  background: black;
}

footer {
  vertical-align: middle;
  position: relative;
  background-color: rgb(250, 250, 250);
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
}

footer a {
  float: right;
}

.icon {
  padding-top: 0.19vmax;
  width: 45px;
  height: 44px;
  margin-left: 28px;
  margin-right: auto;
  transition: 0.3s;
  opacity: 1;
  text-align: left;
  float: left;
  box-shadow: 4px 4px 2px grey;
}

.icon:hover {
  opacity: 0.6;
}

.app {
  vertical-align: top;
  width: 25px;
  height: 25px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  opacity: 0.8;
  transition: 0.4s;
}

.app:hover {
  opacity: 0.3;
}

.con p {
  font-size: 30px;
  color: orange;
}

.about br {
  line-height: 40px;
}

@media only screen and (max-device-width: 1500px) {
  .grid-1 {
    grid-template-columns: 0% 100%;
    height: 60vh;
  }

  .emailme {
    display: none;
  }

  item-2 h3 {
    padding: 15vmax;
    margin: 30vmax;
  }
}

@media only screen and (max-device-width: 640px) {
  .navbar {
    font-size: 40px;
    right: 15%;
  }

  .con p {
    color: orange;
    font-size: 30px;
  }

  .item-2 {
  }

  footer {
    height: 70px;
    position: bottom;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
  }

  .grid-item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .icon {
    padding-top: 0.19vmax;
    width: 60px;
    height: 60px;
  }

  .app {
    width: 40px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .back {
    position: relative;
    height: 100%;
    opacity: 0.8;
  }

  .name {
    text-indent: 7px;
    width: 90%;
    height: 60px;
    border-radius: 4px;
    padding: 0;
    font-size: 25px;

    border: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgb(185, 185, 185);
    background: rgb(220, 220, 220);
    background: whitesmoke;
  }

  .email {
    text-indent: 7px;
    width: 90%;
    height: 60px;
    border-radius: 4px;
    padding: 0;
    font-size: 25px;

    border: 0px;
    margin-bottom: 10px;
    background-color: rgb(185, 185, 185);
    background: rgb(220, 220, 220);
    background: whitesmoke;
  }

  .prof {
    width: 100%;
  }

  .message {
    text-indent: 7px;
    border: 0px;
    border-radius: 4px;
    margin: 10px;
    width: 90%;
    font-size: 25px;
    padding: 0;

    background-color: rgb(185, 185, 185);
    background: rgb(220, 220, 220);
    background: whitesmoke;
  }

  .grid-1 {
    height: 0%;
  }

  .grid-2 {
    width: 105%;
  }
}
