@import url("https://fonts.googleapis.com/css?family=Overpass");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css?family=Average+Sans|Source+Sans+Pro&display=swap");

body {
  background-color: rgb(25, 54, 67);
  background-color: rgb(30, 30, 30);
  color: rgb(220);
  border: 0;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-family: "Gilda Display";
  font-family: "Times New Roman";
  font-family: "Average Sans", sans-serif;
}

.navbar {
  position: fixed;
  top: 0.1%;
  right: 3vw;
  list-style-type: none;
  color: white;
  font-size: 18px;
  display: flex;
  list-style: none;
  float: right;
  margin-right: 0vw;

  box-sizing: border-box;
  border-radius: 0vw;
  margin-top: 2px;

  background-color: rgb(25, 54, 67, 0.6);
  background-color: rgb(30, 30, 30, 0);

  -webkit-animation: fadein 3s;
}

/**
This is for my navagation bar
*/
li {
  padding: 17px;
  padding-top: 10px;
  padding-bottom: 14px;
}

a:link {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: gray;
  color: rgb(13, 71, 113);
}

a:active {
  text-decoration: none;
  color: whitesmoke;
}

.back {
  position: relative;
  width: 100%;
  width: 1680px;
  max-height: 105%;
  opacity: 0.8;
}

h1 {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 38%;
  left: 50%;
  transform: orgin(center);
  transform: translate(-50%, -50%);
  opacity: 1;
  color: whitesmoke;
  color: rgb(250, 250, 250);
  font-size: 7.2vw;
  margin-left: 0;
  margin-right: 0;

  font-family: "Gilda Display";
  font-family: "Average Sans", sans-serif;
  font-weight: normal;
  border-radius: 1vmax;
  box-sizing: border-box;

  padding: 1vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  display: inline;

  background-color: rgb(25, 54, 67, 0.6);
  background-color: rgb(30, 30, 30, 0);

  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h2 {
  font-family: "Gilda Display";
  font-family: "Average Sans", sans-serif;
  color: rgb(240, 240, 240);

  margin-left: 5vw;
  margin-bottom: 3vw;
  margin-top: 1vw;
  font-size: 4vmax;
  padding: 0;
}

.sub {
  color: rgb(220, 220, 220);
  margin-left: 4vw;
  margin-bottom: 0vw;
  margin-top: 1vw;
  font-size: 3vmax;
  padding: 0;
}

p {
  margin-top: 0.33vw;
  color: rgb(240, 240, 240);
  margin-left: 5vw;
  font-size: 1.5vmax;
  margin-right: 4vw;
  margin-bottom: 3vw;
  line-height: 2vmax;
}

.Blank {
  height: 60vw;
  padding: 0;
}

.Blank1 {
  height: 8vh;
}

h3 {
  margin: -0.2rem;
  color: rgb(240, 240, 240);
  font-weight: 350;
  font-size: 75px;
}

footer {
  vertical-align: middle;
  position: relative;
  background-color: rgb(250, 250, 250);
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
}

footer a {
  float: right;
}

.icon {
  padding-top: 0.19vmax;
  width: 45px;
  height: 44px;
  margin-left: 28px;
  margin-right: auto;
  transition: 0.3s;
  opacity: 1;
  text-align: left;
  float: left;
  box-shadow: 4px 4px 2px grey;
}

.icon:hover {
  opacity: 0.6;
}

.app {
  vertical-align: top;
  width: 25px;
  height: 25px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  opacity: 0.8;
  transition: 0.4s;
}

.app:hover {
  opacity: 0.3;
}

.content {
  min-height: 97%;
}

@media only screen and (max-device-width: 640px) {
  h1 {
    font-size: 15vw;
    margin: 0;
  }

  .navbar {
    font-size: 40px;
    right: 15%;
    /*
    position:relative;
    float: center;
    */
    text-align: center;
  }

  .icon {
    padding-top: 0.19vmax;
    width: 60px;
    height: 60px;
  }

  .app {
    width: 40px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  footer {
    height: 70px;
    position: bottom;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
  }
}
