@import url("https://fonts.googleapis.com/css?family=Average+Sans|Source+Sans+Pro&display=swap");

.projectHead {
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(240, 240, 240);
    background: rgb(30, 30, 30);
    font-family: 'Average Sans', sans-serif;
    color: gray;
    color: rgb(50, 90, 180);
    color: rgb(13, 71, 113, 0.6);
    color: whitesmoke;
    background: repeating-linear-gradient(-45deg,
            #222,
            #222 2px,
            #333 2px,
            #333 4px);
}

.navbar {
    -webkit-animation: fadein 0s;
}

h2 {
    font-family: 'Average Sans', sans-serif;


    margin-top: 1vw;
    font-size: 75px;

    margin-bottom: 3vmax;
    padding: 0;
}

h3 {
    font-size: 1.4vmax;
    font-size: 22px;
}


.Blank1 {
    height: 8vh;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.proj1 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj1 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
}

.des {}

.proj1 img:hover {
    opacity: 0.3;
}

.proj1 p:hover {
    opacity: 0;
}

.proj1 :hover .des {
    display: none;
    opacity: none;
}

.proj1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    height: 15vmax;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
}


.proj2 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj2 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
}

.proj2 img:hover {
    opacity: 0.3;
}

.proj2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
    height: 15vmax;
}


.proj3 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj3 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
    text-align: center;
}

.proj3 img:hover {
    opacity: 0.3;
}

.proj3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    width: 20vmax;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
    height: 15vmax;
}


.proj4 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj4 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
}

.proj4 img:hover {
    opacity: 0.3;
}

.proj4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    width: 20vmax;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
    height: 15vmax;
}


.proj5 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj5 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
}

.proj5 img:hover {
    opacity: 0.3;
}

.proj5 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    width: 20vmax;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
    height: 15vmax;
}



.proj6 {
    padding: 5vmax;
    padding-top: 2vh;
    margin-left: 0;
    border-radius: 1vmax;
    display: block;
    text-align: center;
}

.proj6 p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    display: block;
    text-align: center;
}

.proj6 img:hover {
    opacity: 0.3;
}

.proj6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    width: 20vmax;
    border-radius: all;
    border-radius: 10px 10px 10px 10px;
    float: center;
    height: 15vmax;
}


.projects {
    display: grid;
    grid-template-columns: 50% 50%;
}




footer {
    vertical-align: middle;
    position: relative;
    background-color: rgb(230, 230, 230);
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 2.7vmax;
    padding: 0;
}

footer a {
    float: right;
}

footer {
    width: 200%;
}





.navbar {
    position: absolute;
    top: 0.1%;
    right: 3vw;
    list-style-type: none;
    color: whitesmoke;
    font-size: 18px;
    display: flex;
    list-style: none;
    float: right;
    margin-right: 0vw;

    box-sizing: border-box;
    border-radius: 1vw;
    margin-top: 1px;

    background-color: rgb(25, 54, 67, 0.6);
    background-color: rgb(30, 30, 30, 0.0);
}

/**
  This is for my navagation bar
  */
li {

    padding: 17px;
    padding-top: 10px;
    padding-bottom: 14px;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: gray;
    color: rgb(13, 71, 113);
}


a:active {
    text-decoration: none;
    color: whitesmoke;
}

.back {
    position: relative;
    width: 100%;
    max-height: 105%;
}



footer {
    vertical-align: middle;
    position: relative;
    background-color: rgb(250, 250, 250);
    bottom: 0;
    width: 200%;
    height: 50px;
    padding: 0;
}

footer a {
    float: right;
}

.icon {
    padding-top: 0.19vmax;
    width: 45px;
    height: 44px;
    margin-left: 28px;
    margin-right: auto;
    transition: 0.3s;
    opacity: 1;
    text-align: left;
    float: left;
    box-shadow: 4px 4px 2px grey;

}

.icon:hover {
    opacity: .6;
}

.app {
    vertical-align: top;
    width: 25px;
    height: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    opacity: .8;
    transition: 0.4s;
}

.app:hover {
    opacity: 0.3;
}



@media only screen and (max-device-width : 640px) {
    .navbar {
        font-size: 30px;
    }

    .proj1 p {
        font-size: .5vmax
    }

    h3 {
        font-size: 1vmax;
    }

    .des {
        display: none;
        font-size: .6vmax
    }


    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}