<!DOCTYPE html>
<html>

<head>
  <script src="../../public/js/p5.min.js"></script>
  <script src="../../public/js/p5.dom.min.js"></script>


  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
  <meta charset="utf-8">
  <title>LightSpeed</title>

</head>

<body>
  <script src="../../public/js/light.js"></script>
  <div style="display:none">
    <button onClick="up()">up</button>
    <br>
    <button onClick="left()">left</button>
    <button onClick="right()">right</button>
    <br>
    <button onClick="down()">down</button>
  </div>



</body>

</html>